body {
    background-color: #CC3399;
    
}
img {
    margin: 1px auto;
    display: block;
    width: 30%;
    height: 100%;
}
h1 {
    text-align: center;
    color: coral;
}
p {
    text-align: center;
    color: gold;
    font-style: italic;
}
img {
    border-style: solid;
    border-color: green;
    border-width: 4mm;
}